<a href="/farms">Farms Index</a>
<a href="/crops">Crops Index</a>
<a href="/ranches">Ranches Index</a>
<a href="/cows">Cows Index</a>

<h1> Welcome to Farms </h1>

<% @farms.each do |farm| %>
  <h3><%= farm.name %></h3>
  <p>Created at: <%= farm.created_at %></p>
<% end %>
