<%= link_to "Farms Index", "/farms" %>
<%= link_to "Crops Index", "/crops" %>
<%= link_to "Ranches Index", "/ranches" %>
<%= link_to "Cows Index", "/cows" %>

<h1> Welcome to Our Project </h1>

<ul>
  <li><a href="/farms">Farms</a></li>
  <li><a href="/ranches">Ranches</a></li>
</ul>
